@font-face {
    font-family: 'Man';
    src: url(/assets/fonts/Manrope-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Man';
    src: url(/assets/fonts/Manrope-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Neu';
    src: url(/assets/fonts/NeutralFace.otf);
    font-style: normal;
    font-weight: 300;
}
